body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#clickableButton {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#congrats-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 5em;
    font-weight: bold;
    color: white;
    z-index: 1000;
    transition: transform 0.5s ease-out;
    white-space: nowrap;
}

#congrats-container.visible {
    transform: translate(-50%, -50%) scale(2);
}

.under-construction {
    font-size: 5em;
    font-weight: bold;
    color: orange;
    z-index: 1000;
    transition: transform 0.5s ease-out;
    white-space: nowrap;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
    .under-construction {
        font-size: 3em;
    }
}

@media (max-width: 480px) {
    .under-construction {
        font-size: 2em;
    }
}

@media (max-width: 320px) {
    .under-construction {
        font-size: 1.5em;
    }
}

